.row .col[class*=push-],
.row .col[class*=pull-],
nav .nav-wrapper {
	position: relative
}

nav ul a,
nav ul li {
	transition: background-color .3s
}

.row .col,
html {
	box-sizing: border-box
}

.btn,
a {
	text-decoration: none
}

.btn,
.btn-flat,
.waves-effect {
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2')
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased
}

::-webkit-scrollbar {
	width: 12px
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
	-webkit-border-radius: 0;
	border-radius: 0
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0;
	border-radius: 0;
	background: rgba(44, 62, 80, 1);
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 1)
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(44, 62, 80, 1)
}

.blue-grey {
	background-color: #607d8b!important
}

.blue-grey-text {
	color: #607d8b!important
}

.blue-grey.lighten-5 {
	background-color: #eceff1!important
}

.blue-grey-text.text-lighten-5 {
	color: #eceff1!important
}

.blue-grey.lighten-4 {
	background-color: #cfd8dc!important
}

.blue-grey-text.text-lighten-4 {
	color: #cfd8dc!important
}

.blue-grey.lighten-3 {
	background-color: #b0bec5!important
}

.blue-grey-text.text-lighten-3 {
	color: #b0bec5!important
}

.blue-grey.lighten-2 {
	background-color: #90a4ae!important
}

.blue-grey-text.text-lighten-2 {
	color: #90a4ae!important
}

.blue-grey.lighten-1 {
	background-color: #78909c!important
}

.blue-grey-text.text-lighten-1 {
	color: #78909c!important
}

.blue-grey.darken-1 {
	background-color: #546e7a!important
}

.blue-grey-text.text-darken-1 {
	color: #546e7a!important
}

.blue-grey.darken-2 {
	background-color: #455a64!important
}

.blue-grey-text.text-darken-2 {
	color: #455a64!important
}

.blue-grey.darken-3 {
	background-color: #37474f!important
}

.blue-grey-text.text-darken-3 {
	color: #37474f!important
}

.blue-grey.darken-4 {
	background-color: #263238!important
}

.blue-grey-text.text-darken-4 {
	color: #263238!important
}

.grey {
	background-color: #9e9e9e!important
}

.grey-text {
	color: #9e9e9e!important
}

.grey.lighten-5 {
	background-color: #fafafa!important
}

.grey-text.text-lighten-5 {
	color: #fafafa!important
}

.grey.lighten-4 {
	background-color: #f5f5f5!important
}

.grey-text.text-lighten-4 {
	color: #f5f5f5!important
}

.grey.lighten-3 {
	background-color: #eee!important
}

.grey-text.text-lighten-3 {
	color: #eee!important
}

.grey.lighten-2 {
	background-color: #e0e0e0!important
}

.grey-text.text-lighten-2 {
	color: #e0e0e0!important
}

.grey.lighten-1 {
	background-color: #bdbdbd!important
}

.grey-text.text-lighten-1 {
	color: #bdbdbd!important
}

.grey.darken-1 {
	background-color: #757575!important
}

.grey-text.text-darken-1 {
	color: #757575!important
}

.grey.darken-2 {
	background-color: #616161!important
}

.grey-text.text-darken-2 {
	color: #616161!important
}

.grey.darken-3 {
	background-color: #424242!important
}

.grey-text.text-darken-3 {
	color: #424242!important
}

.grey.darken-4 {
	background-color: #212121!important
}

.grey-text.text-darken-4 {
	color: #212121!important
}

.white {
	background-color: #FFF!important
}

.white-text {
	color: #FFF!important
}

.transparent {
	background-color: transparent!important
}

.transparent-text {
	color: transparent!important
}

nav,
nav a,
nav ul a {
	color: #fff
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column
}

article,
details,
footer,
main,
menu,
nav {
	display: block
}

main {
	flex: 1 0 auto
}

[hidden] {
	display: none
}

a {
	background-color: transparent;
	color: #039be5;
	-webkit-tap-highlight-color: transparent
}

a:active,
a:hover {
	outline: 0
}

img {
	border: 0
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto;
	font-family: monospace, monospace;
	font-size: 1em
}

button {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6,
html {
	font-weight: 400
}

button[disabled] {
	cursor: default
}

button::-moz-focus-inner {
	border: 0;
	padding: 0
}

*,
:after,
:before {
	box-sizing: inherit
}

ul:not(.browser-default) {
	padding-left: 0;
	list-style-type: none
}

ul:not(.browser-default) li {
	list-style-type: none
}

.btn,
.card,
.side-nav,
nav {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}

.btn:hover {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2)
}

.modal {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3)
}

.divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0
}

footer.page-footer,
nav {
	background-color: #ee6e73
}

blockquote {
	margin: 20px 0;
	padding-left: 1.5rem;
	border-left: 5px solid #546e7a
}

i {
	line-height: inherit
}

i.right {
	float: right;
	margin-left: 15px
}

@media only screen and (max-width:992px) {
	.hide-on-med-and-down {
		display: none!important
	}
}

footer.page-footer {
	padding-top: 20px
}

@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%
	}
	100%,
	60% {
		left: 100%;
		right: -90%
	}
}

@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%
	}
	100%,
	60% {
		left: 100%;
		right: -90%
	}
}

@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%
	}
	100%,
	60% {
		left: 107%;
		right: -8%
	}
}

@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%
	}
	100%,
	60% {
		left: 107%;
		right: -8%
	}
}

.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s12,
.row .col.s2,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
	left: auto;
	right: auto
}

.hide {
	display: none!important
}

.right-align {
	text-align: right
}

.btn,
.center,
.center-align {
	text-align: center
}

.right {
	float: right!important
}

.circle {
	border-radius: 50%
}

.material-icons {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga'
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%
}

@media only screen and (min-width:601px) {
	.container {
		width: 85%
	}
}

@media only screen and (min-width:993px) {
	.container {
		width: 70%
	}
}

.container .row {
	margin-left: -.75rem;
	margin-right: -.75rem
}

.row,
.row .col.s1,
.row .col.s10,
.row .col.s11,
.row .col.s12,
.row .col.s2,
.row .col.s3,
.row .col.s4,
.row .col.s5,
.row .col.s7,
.row .col.s8,
.row .col.s9 {
	margin-left: auto
}

.row {
	margin-right: auto;
	margin-bottom: 20px
}

.row:after {
	content: "";
	display: table;
	clear: both
}

.row .col {
	float: left;
	padding: 0 .75rem;
	min-height: 1px
}

.row .col.s1 {
	width: 8.3333333333%
}

.row .col.s2 {
	width: 16.6666666667%
}

.row .col.s3 {
	width: 25%
}

.row .col.s4 {
	width: 33.3333333333%
}

.row .col.s5 {
	width: 41.6666666667%
}

.row .col.s6 {
	width: 50%;
	margin-left: auto;
	left: auto;
	right: auto
}

.row .col.s7 {
	width: 58.3333333333%
}

.row .col.s8 {
	width: 66.6666666667%
}

.row .col.s9 {
	width: 75%
}

.row .col.s10 {
	width: 83.3333333333%
}

.row .col.s11 {
	width: 91.6666666667%
}

.row .col.s12 {
	width: 100%
}

@media only screen and (min-width:601px) {
	.row .col.m1,
	.row .col.m10,
	.row .col.m11,
	.row .col.m12,
	.row .col.m2,
	.row .col.m3,
	.row .col.m4,
	.row .col.m5,
	.row .col.m7,
	.row .col.m8,
	.row .col.m9 {
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m1 {
		width: 8.3333333333%
	}
	.row .col.m2 {
		width: 16.6666666667%
	}
	.row .col.m3 {
		width: 25%
	}
	.row .col.m4 {
		width: 33.3333333333%
	}
	.row .col.m5 {
		width: 41.6666666667%
	}
	.row .col.m6 {
		width: 50%;
		margin-left: auto;
		left: auto;
		right: auto
	}
	.row .col.m7 {
		width: 58.3333333333%
	}
	.row .col.m8 {
		width: 66.6666666667%
	}
	.row .col.m9 {
		width: 75%
	}
	.row .col.m10 {
		width: 83.3333333333%
	}
	.row .col.m11 {
		width: 91.6666666667%
	}
	.row .col.m12 {
		width: 100%
	}
}

nav {
	width: 100%;
	height: 56px;
	line-height: 56px
}

nav [class*=mdi-],
nav [class^=mdi-],
nav i,
nav i.material-icons {
	display: block;
	font-size: 24px;
	height: 56px;
	line-height: 56px
}

nav .nav-wrapper {
	height: 100%
}

@media only screen and (min-width:993px) {
	nav a.button-collapse {
		display: none
	}
}

nav .button-collapse {
	float: left;
	position: relative;
	z-index: 1;
	height: 56px;
	margin: 0 18px
}

nav .button-collapse i {
	height: 56px;
	line-height: 56px
}

nav .brand-logo {
	position: absolute;
	font-family: Pecita;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0;
	white-space: nowrap
}

.card,
.card .card-image {
	position: relative
}

nav .brand-logo.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

@media only screen and (max-width:992px) {
	nav .brand-logo {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	nav .brand-logo.right {
		padding: 0;
		-webkit-transform: none;
		transform: none;
		right: .5rem;
		left: auto
	}
}

nav .brand-logo.right {
	right: .5rem;
	padding: 0
}

nav .brand-logo [class*=mdi-],
nav .brand-logo [class^=mdi-],
nav .brand-logo i,
nav .brand-logo i.material-icons {
	float: left;
	margin-right: 15px
}

nav .nav-title {
	display: inline-block;
	font-size: 32px;
	padding: 28px 0
}

nav ul {
	margin: 0
}

nav ul li {
	float: left;
	padding: 0
}

nav ul a {
	font-size: 1rem;
	display: block;
	padding: 0 15px;
	cursor: pointer
}

nav ul a.btn,
nav ul a.btn-flat {
	margin-top: -2px;
	margin-left: 15px;
	margin-right: 15px
}

nav ul a.btn-flat>.material-icons,
nav ul a.btn>.material-icons {
	height: inherit;
	line-height: inherit
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, .1)
}

@media only screen and (min-width:601px) {
	nav,
	nav .nav-wrapper i,
	nav a.button-collapse,
	nav a.button-collapse i {
		height: 64px;
		line-height: 64px
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 110%
}

@font-face {
	font-family: Roboto;
	src: local(Roboto Thin), url(../fonts/roboto/Roboto-Thin.eot);
	src: url(../fonts/roboto/Roboto-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto/Roboto-Thin.woff2) format("woff2"), url(../fonts/roboto/Roboto-Thin.woff) format("woff"), url(../fonts/roboto/Roboto-Thin.ttf) format("truetype");
	font-weight: 200
}

@font-face {
	font-family: Roboto;
	src: local(Roboto Light), url(../fonts/roboto/Roboto-Light.eot);
	src: url(../fonts/roboto/Roboto-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto/Roboto-Light.woff2) format("woff2"), url(../fonts/roboto/Roboto-Light.woff) format("woff"), url(../fonts/roboto/Roboto-Light.ttf) format("truetype");
	font-weight: 300
}

@font-face {
	font-family: Roboto;
	src: local(Roboto Regular), url(../fonts/roboto/Roboto-Regular.eot);
	src: url(../fonts/roboto/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto/Roboto-Regular.woff2) format("woff2"), url(../fonts/roboto/Roboto-Regular.woff) format("woff"), url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
	font-weight: 400
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/roboto/Roboto-Medium.eot);
	src: url(../fonts/roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto/Roboto-Medium.woff2) format("woff2"), url(../fonts/roboto/Roboto-Medium.woff) format("woff"), url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");
	font-weight: 500
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/roboto/Roboto-Bold.eot);
	src: url(../fonts/roboto/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto/Roboto-Bold.woff2) format("woff2"), url(../fonts/roboto/Roboto-Bold.woff) format("woff"), url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
	font-weight: 700
}

@font-face {
	font-family: Pecita;
	src: url(../fonts/pecita/pecita.eot);
	src: url(../fonts/pecita/pecita.eot?#iefix) format("embedded-opentype"), url(../fonts/pecita/pecita.woff2) format("woff2"), url(../fonts/pecita/pecita.woff) format("woff"), url(../fonts/pecita/pecita.ttf) format("truetype");
	font-weight: 100
}

html {
	line-height: 1.5;
	font-family: Roboto, sans-serif;
	color: rgba(0, 0, 0, .87)
}

@media only screen and (min-width:0) {
	html {
		font-size: 14px
	}
}

@media only screen and (min-width:992px) {
	html {
		font-size: 14.5px
	}
}

@media only screen and (min-width:1200px) {
	html {
		font-size: 15px
	}
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit
}

h1 {
	font-size: 4.2rem;
	margin: 2.1rem 0 1.68rem
}

h2 {
	font-size: 3.56rem;
	margin: 1.78rem 0 1.424rem
}

h3 {
	font-size: 2.92rem;
	margin: 1.46rem 0 1.168rem
}

h4 {
	font-size: 2.28rem;
	margin: 1.14rem 0 .912rem
}

h5 {
	font-size: 1.64rem;
	margin: .82rem 0 .656rem
}

h6 {
	font-size: 1rem;
	margin: .5rem 0 .4rem
}

.card {
	margin: .5rem 0 1rem;
	background-color: #fff;
	transition: box-shadow .25s;
	border-radius: 2px
}

.card .card-title {
	font-size: 24px;
	font-weight: 300
}

.card.horizontal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.card.horizontal .card-image {
	max-width: 50%
}

.card.horizontal .card-image img {
	border-radius: 2px 0 0 2px;
	max-width: 100%;
	width: auto
}

.card .card-image img {
	display: block;
	border-radius: 2px 2px 0 0;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%
}

.card .card-image .card-title {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
	padding: 24px
}

.card .card-content {
	padding: 24px;
	border-radius: 0 0 2px 2px
}

.card .card-content p {
	margin: 0;
	color: inherit
}

.card .card-content .card-title {
	display: block;
	line-height: 32px;
	margin-bottom: 8px
}

.card .card-content .card-title i {
	line-height: 32px
}

.card .card-action {
	position: relative;
	background-color: inherit;
	border-top: 1px solid rgba(160, 160, 160, .2);
	padding: 16px 24px
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #ffab40;
	margin-right: 24px;
	transition: color .3s ease;
	text-transform: uppercase
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
	color: #ffd8a6
}

.btn,
.btn-flat {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;
	outline: 0
}

.btn-flat:disabled,
.btn-flat[disabled],
.btn:disabled,
.btn[disabled] {
	pointer-events: none;
	background-color: #DFDFDF!important;
	box-shadow: none;
	color: #9F9F9F!important;
	cursor: default
}

.btn,
.btn-flat,
.modal .modal-close,
.waves-effect {
	cursor: pointer
}

.btn-flat:disabled:hover,
.btn-flat[disabled]:hover,
.btn:disabled:hover,
.btn[disabled]:hover {
	background-color: #DFDFDF!important;
	color: #9F9F9F!important
}

.btn i,
.btn-flat i {
	font-size: 1.3rem;
	line-height: inherit
}

.btn:focus {
	background-color: #1d7d74
}

.btn {
	color: #fff;
	background-color: #26a69a;
	letter-spacing: .5px;
	transition: .2s ease-out;
	margin-top: 7px
}

.btn:hover {
	background-color: #2bbbad
}

.btn-flat,
.btn-flat:active,
.btn-flat:focus {
	background-color: transparent
}

.fixed-action-btn {
	position: fixed;
	right: 23px;
	bottom: 23px;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 998
}

.fixed-action-btn.horizontal {
	padding: 0 0 0 15px
}

.fixed-action-btn.horizontal ul {
	text-align: right;
	right: 64px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 100%;
	left: auto;
	width: 500px
}

.fixed-action-btn.horizontal ul li {
	display: inline-block;
	margin: 15px 15px 0 0
}

.fixed-action-btn.toolbar {
	padding: 0;
	height: 56px
}

.fixed-action-btn.toolbar ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	bottom: 0
}

.fixed-action-btn.toolbar ul li {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: inline-block;
	margin: 0;
	height: 100%;
	transition: none
}

.fixed-action-btn.toolbar ul li a {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: transparent;
	box-shadow: none;
	color: #fff;
	line-height: 56px;
	z-index: 1
}

.fixed-action-btn.toolbar ul li a i {
	line-height: inherit
}

.fixed-action-btn ul {
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	bottom: 64px;
	margin: 0;
	visibility: hidden
}

.fixed-action-btn ul li {
	margin-bottom: 15px
}

.btn-flat {
	box-shadow: none;
	color: #343434;
	transition: background-color .2s
}

.btn-flat:focus,
.btn-flat:hover {
	background-color: rgba(0, 0, 0, .1);
	box-shadow: none
}

.btn-flat:active {
	background-color: rgba(0, 0, 0, .2)
}

.waves-effect {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	transition: .3s ease-out
}

.waves-effect img {
	position: relative;
	z-index: -1
}

.waves-circle {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	text-align: center;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 50%;
	-webkit-mask-image: none
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	background-color: #fafafa;
	padding: 0;
	max-height: 70%;
	width: 55%;
	margin: auto;
	overflow-y: auto;
	border-radius: 2px;
	will-change: top, opacity
}

@media only screen and (max-width:992px) {
	.modal {
		width: 80%
	}
}

.modal h1,
.modal h2,
.modal h3,
.modal h4 {
	margin-top: 0
}

.modal .modal-content {
	padding: 24px
}

.modal .modal-footer {
	border-radius: 0 0 2px 2px;
	background-color: #fafafa;
	padding: 4px 6px;
	height: 56px;
	width: 100%
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-flat {
	float: right;
	margin: 6px 0
}

.modal.modal-fixed-footer {
	padding: 0;
	height: 70%
}

.modal.modal-fixed-footer .modal-content {
	position: absolute;
	height: calc(100% - 56px);
	max-height: 100%;
	width: 100%;
	overflow-y: auto
}

.modal.modal-fixed-footer .modal-footer {
	border-top: 1px solid rgba(0, 0, 0, .1);
	position: absolute;
	bottom: 0
}

button:focus {
	outline: 0;
	background-color: #2ab7a9
}

.side-nav {
	position: fixed;
	width: 300px;
	left: 0;
	top: 0;
	margin: 0;
	height: 100%;
	height: calc(100% + 60px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
	background-color: #fff;
	z-index: 999;
	overflow-y: auto;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%)
}

.side-nav li {
	float: none;
	line-height: 48px
}

.side-nav a {
	color: rgba(0, 0, 0, .87);
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	padding: 0 32px
}

.side-nav a:hover {
	background-color: rgba(0, 0, 0, .05)
}

.side-nav a.btn,
.side-nav a.btn-flat {
	margin: 10px 15px
}

.side-nav a.btn {
	color: #fff
}

.side-nav a.btn-flat {
	color: #343434
}

.side-nav a.btn:hover {
	background-color: #2bbbad
}

.side-nav li>a>[class*=mdi-],
.side-nav li>a>[class^=mdi-],
.side-nav li>a>i,
.side-nav li>a>i.material-icons {
	float: left;
	height: 48px;
	line-height: 48px;
	margin: 0 32px 0 0;
	width: 24px;
	color: rgba(0, 0, 0, .54)
}

.side-nav .divider {
	margin: 8px 0 0
}

.side-nav.fixed {
	left: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	position: fixed
}

@media only screen and (max-width:992px) {
	.side-nav.fixed {
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%)
	}
	.side-nav a {
		padding: 0 16px
	}
}
